.notaTexto{
  text-align: center;
  font-size: 1.1em;
  font-weight: 700;
  font-style: italic;
}

#chartCont{
  height: 500px;
}

input[type=radio]{
  margin-right: 5px;
}
label{
  margin-right: 20px;
}
.filtroFecha{
  text-align: right;
  margin-top: 10px;
}
